.crystals {

	display: flex;
	justify-content: space-around;
  align-items: center;
  padding-top: 75px;
  left: 50%;
  top: 50%;

 }
   
.crystal {

 /* border: 1px solid green; */
height: 200px;
width: 200px;

}

body {

    min-height: 100vh;
    background: url(bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;


  }

#result{ text-align:center;
  font-family: 'Graduate', cursive;
  color: white;
  font-size: 60px;
  font-weight: bold;

}

#bg { 
  
  background-color: white;
  text-align: center;
  width: 25%;
  height: 25%;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Playball', cursive;
  padding-top: 10px;
  font-size: 20px;
  font-weight:  bold; 
  /* font-size: 60px;
  font-weight: bold; */
}

